/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name: Christian Herinckx
 * email: herincch@oregonstate.edu
 */

.post-price {
  border: 10px;
  background-color: gray;
}
.post-title {
  color: orange;
  text-decoration: none;
}
