/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name: Christian Herinckx
 * email: herincch@oregonstate.edu
 */
<style>
header {
  display: flex;
  background-color: black;
  margin-bottom: 10px;
  }
header a {
    color: white;
    font-size: 300%;
    background-color: black;
    margin-bottom: 10px;
    font-family: Roboto Slab;
    font-weight: normal;
    text-decoration: none;
}
.filter-container {
    float: left;
    background-color: #efefef;
  margin-left: 15px;
  margin-right: 5px;
    padding: 20px;
    width: 200px;
    height: auto;
    margin-bottom: 1000px;
    font-family: Roboto;
}
.filter-input-element {
  margin-left: 5px;
  margin-right: 5px;
  flex-grow: max;
  width: 100%;
  }
.filter-input-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.post {
    display: flex;
    flex-grow: max;
    display: inline-block;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    border: 1px #b1b9bc;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    max-width: 330px;
    width: 330px;
    max-height: 330px;
    height: 330px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.post-info-container {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    font-family: Roboto;
  }
.post-image-container img {
  max-width: 100%;
  max-height: 200px;
}
#filter-update-button {
  background-color: black;
  color: #f0f0f0;
  border-radius: 5px;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  font-weight: 100;
  font-size: 22px;
  font-family: San-Serif;
  }
#filter-update-button:hover {
  background-color: #f3d0b5;
  color: black;
  }
.filter-container h2 {
  }
#filter-city {
  border-radius: 3px;
  border: 1px solid light-gray;
  width: 167px;
  }
#filter-condition {
  width: 100%;
  border-radius: 3px;
  }
#filter-min-price {
  width: 64px;
  margin-right: 5px;
  }
#filter-max-price {
  width: 64px;
  }
.post-price {
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    padding: 3px;
}
.post-title {
    color: #f69688;
    text-decoration: none;
}
.post-title:hover {
  text-decoration: underline;
  }
#sell-something-button {
  border-radius: 100%;
  background-color: #e37115;
  border: 0px solid light-gray;
  color: white;
  font-size: 30px;
  width: 50px;
  height: 50px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  float: right;
  margin-right: 40px;
  margin-top: -400px;
  vertical-align: middle;
  display: inline-block;
  }
#sell-something-button:hover {
  width: 60px;
  height: 60px;
  font-size: 34px;
  }

  </style>
